<!-- <h1>Welcome to WebSockets Chat</h1>

{{input value=input1 id="message-input1"}}
<button type="button" name="button" id="sendButtonPressed1" {{action "sendButtonPressed1"}}>Press Me1</button>

{{#each messages1 as |message1|}}
  <p>{{message1}}</p>
{{/each}}

{{input value=input2 id="message-input2"}}
<button type="button" name="button" id="sendButtonPressed2" {{action "sendButtonPressed2"}}>Press Me2</button>

{{#each messages2 as |message2|}}
  <p>{{message2}}</p>
{{/each}} -->

{{socketio-chatroom}}
